# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/

# Test cache
.pytest_cache/

# Environment variables
.env
*.log